@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Roboto:wght@400;500&display=swap");

.box {
  width: 55.5rem;
  height: 32.5rem;
  border-radius: 2.625rem;
  display: grid;
  background-color: rgba(42, 53, 56, 0.4);
  position: fixed;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
  
.campo {
  background-image: url("../img/background2.svg");
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  justify-content: center;
}

.btn-seguir {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
  
a {
  font-family: Poppins;
  font-weight: 600;
  padding: 5px 50px;
  font-size: 18px;
  background-color: #D9D9D9;
  border: 0;
  border-radius: 40px;
  color: #060E22;
  text-decoration: none;
}

.logo img {
  width: 36%;
}

.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: -70px;
}
