@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Roboto:wght@400;500&display=swap");

h1 {
  margin-top: 5rem;
  color: #fff;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  justify-content: center;
}

a {
  background-color: transparent;
}

.img1 {
  width: 17rem;
  top: 7rem;
  left: 22rem;
}
.img2 {
width: 17rem;
top: 7rem;
left: 6rem;
}

.aling {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}