@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Roboto:wght@400;500&display=swap");
/*----------------------------------------------------*/
/*layout dos input's*/
.input input[type="text"] {
  width: 21rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  border: 1px solid #40515b;
  border-radius: 0.5rem;
  background: #40515b;
  color: #586a77;
  padding-left: 3em;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0.5em;
  background-size: 1.8em;
}
.input select {
  width: 24rem;
  height: 3rem;
  border-radius: 0.25rem;
  border: 1px solid #40515b;
  border-radius: 0.5rem;
  background: rgba(180, 217, 251, 0.28);
  color: rgba(255, 255, 255, 0.35);
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 1em;
}
.input input[type="range"] {
  width: 24rem;
}
/*----------------------------------------------------*/
/*placegolder dos input's(colocar na div)*/
.placeholder ::placeholder {
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*----------------------------------------------------*/
/*BOX do centro da tela*/
.box {
  width: 37.5rem;
  height: 37.5rem;
  border-radius: 2.625rem;
  display: grid;
  background-color: rgba(42, 53, 56, 0.28);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*----------------------------------------------------*/
/*Label dos input's(colocar na div)*/
.label label {
  padding-left: 0.5em;
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*----------------------------------------------------*/
/*Backgroud do campo de futebol*/
.campo {
  background-image: url("../img/Background.svg");
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
}
/*----------------------------------------------------*/
/*Centralizar o Form para o meio da BOX*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/*----------------------------------------------------*/
/*Checkbox*/
.checkbox input[type="checkbox"] {
  appearance: none;
  border-radius: 0.25rem;
  border: 1px solid #868686;
  width: 20px;
  height: 20px;
}
.checkbox input[type="checkbox"]:checked {
  border-color: #b4d9fb;
  background: url(../img/checkbox.svg) no-repeat rgba(87, 87, 87, 0.39);
  background-position: 0.1rem;
}
.checkbox input[type="radio"] {
  appearance: none;
  border-radius: 0.25rem;
  border: 1px solid #868686;
  width: 20px;
  height: 20px;
}
.checkbox input[type="radio"]:checked {
  border-color: #b4d9fb;
  background: url(../img/checkbox.svg) no-repeat rgba(87, 87, 87, 0.39);
  background-position: 0.1rem;
}
/*----------------------------------------------------*/
/*Alinha os input's com a label*/
.inputAling {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
/*----------------------------------------------------*/
.btn button {
  font-family: Poppins;
  font-weight: 600;
  padding: 5px 50px;
  font-size: 18px;
  background-color: #d9d9d9;
  border: 0;
  border-radius: 40px;
  color: #060e22;
  text-decoration: none;
}
