@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Roboto:wght@400;500&display=swap);

:root {
  --text-color: white;
 
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerpai{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.container{
    width:1100px;
    height: 720px;
    border-radius: 40px;
    margin: 50px;    
    background-color: rgba(42, 53, 56, 0.4) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color);
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--text-font1);
}
h1 {
margin: -0.1rem;
}
p {
  margin-top: -0.3rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input {
  margin-top: -1rem;
}
.inputs {
  margin-top: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
a {
  margin-top: 1rem;
}