@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Roboto:wght@400;500&display=swap");
/*----------------------------------------------------*/
/*layout dos input's*/
.input input {
  width: 21rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  border: 1px solid #40515b;
  border-radius: 0.5rem;
  background: #40515b;
  color: #586a77;
  padding-left: 3em;
  background-image: url(/img/background.svg);
  background-repeat: no-repeat;
  background-position: 0.5em;
  background-size: 1.8em;
}
/*----------------------------------------------------*/
/*placegolder dos input's(colocar na div)*/
.placeholder ::placeholder {
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*----------------------------------------------------*/

/*----------------------------------------------------*/
/*Label dos input's(colocar na div)*/
.label label {
  padding-left: 0.5em;
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*----------------------------------------------------*/
